﻿<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 leftPartFotter">
                <div class="col-md-2">
                    <a href="#"><img src="~/img/logo.png" class="footerLogo"></a>
                </div>
                <div class="col-md-6 rightMenu">
                    <p><a href="" class="fontMenufooter notpodcherk">Главная</a></p>
                    <p><a href="" class="fontMenufooter notpodcherk">Проекты</a></p>
                    <p><a href="" class="fontMenufooter notpodcherk">Контакты</a></p>
                </div>
            </div>
            <div class="col-md-4 RightPartFotter">
                <div class="col-md-1 rightMenufoot">
                    <p><a href="" class="RightfontMenufooter notpodcherk">Home</a></p>
                    <p><a href="" class="RightfontMenufooter notpodcherk">Projects</a></p>
                    <p><a href="" class="RightfontMenufooter notpodcherk">Contacts</a></p>
                </div>
                <div class="col-md-3 rightBlog">
                </div>
            </div>
        </div>
    </div>
</footer>
