﻿<header>
    <!---------------Меню------------------>
    <nav class="navbar navbar-default menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/img/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active-link"><a href="#">Продукция</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Разработки</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right icons">

                    <li><a href="#"><img src="~/img/facebook.png"></a></li>
                    <li><a href="#"><img src="~/img/twitter.png"></a></li>
                    <li><a href="#"><img src="~/img/google_plus.png"></a></li>
                    <li><a href="#"><img src="~/img/rss.png"></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
            <i class="glyphicon glyphicon-globe globe"></i>
        </div>
    </nav>
    <!--------------------------------------->
</header>
