﻿@using System.Collections.Generic
@model Dictionary<string, object>

@{
    ViewBag.Title = "AUTH TEST PAGE";
}

    <div class="panel panel-primary">
        <div class="panel-heading">Данные пользователей</div>
        <table class="table table-striped">
            @foreach (string key in Model.Keys)
            {
                <tr>
                    <th>@key</th>
                    <td>@Model[key]</td>
                </tr>
            }
        </table>
        @Html.ActionLink("Выйти", "Logout", "Account", null, new { @class = "btn btn-primary" })
    </div>

